<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title></title>
</head>
<body>
    <h2>Здравствуй, {{ user }}. Твоё объявление {{ comment.commentPost.title }} принято!</h2>
    {% comment %} <h2><a href="http://127.0.0.1:8000/{% url 'news:postDetail' post.pk %}">{{  }}</a></h2> {% endcomment %}
    <p> {{ comment.commentText|truncatechars:50  }} </p>
</body>
</html>