{% extends 'layout/base.html' %}

{% block title %}
News | Search
{% endblock title %}

{% block content %}
<section class="grid grid-cols-3 gap-0 lg:grid-cols-4 lg:gap-0 bg-gray-200">
{% if post_search %}
<div>
<form method="GET" class='w-2/3 items-center ml-5'>
    {{ filter.form.as_div }}
    <input class="rounded-lg bg-indigo-600 px-3.5 py-2.5 w-full text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'" type="submit" value="Найти">
 </form>
</div>
 {% for post in filter.qs %}
    <div class='lg:col-span-2 bg-gray-200'>
    <article class="mb-4 overflow-hidden rounded-lg shadow transition hover:shadow-lg">
        <div>
            <div class="bg-white p-4 sm:p-6">
                <h2>{{ post.author.name }}</h2>
            </div>
        </div>
        <img
        alt="Office"
        src={{ post.img.url|default_if_none:'#' }}
        class="h-56 w-full object-cover"
        />

        <div class="bg-white p-4 sm:p-6">
        <time datetime="2022-10-10" class="block text-xs text-gray-500">
            {{ post.created_at }}
        </time>

        <a href="{% url 'board:AdvertDetail' post.pk %}">
            <h3 class="mt-0.5 text-lg text-gray-900">
                {{ post.title }}
            </h3>
        </a>

        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
            {{ post.text }}
        </p>
        </div>
        
    </article>

    {% endfor %}
{% else %}
    <h2>Постов нет</h2>
{% endif %}
</div>
<div></div>
</section>
{% endblock content %}